
<section class="signup-form">
    <form fxLayout="column" 
    fxLayoutAlign="center center" 
    #f="ngForm" 
    fxLayoutGap="10px"
    (ngSubmit)="onSubmit(f)">
        <mat-form-field>
            <input 
            type="email" 
            matInput 
            placeholder="Your email"
            ngModel 
            name="email"
            email
            required
            value="test@email.com"
            #emailInput="ngModel"
            >
            <mat-error *ngIf="!emailInput.hasError('required')">Please enter valid email</mat-error>
            <mat-error *ngIf="emailInput.hasError('required')">Please enter email</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Should be atleast 6 characters long.">
            <input 
            type="password" 
            matInput 
            placeholder="Your password" 
            ngModel 
            name="password"
            minlength="6"
            required
            value="test@123"
            #pwInput="ngModel"
            >
            <mat-hint align="end">{{pwInput?.value?.length}} / 6</mat-hint>
            <mat-error>Has to be atleast 6 characters long</mat-error>
        </mat-form-field>
        
        <button 
        mat-raised-button color="primary" 
        type="submit"
        [disabled]="f.invalid"
        >Submit</button> 
    </form>
</section>
